node_modules
.pnpm-store
.git
.github
.turbo
.next
dist
build
coverage
**/*.md
!README.md
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
.vscode
.idea
docs
infrastructure/terraform
infrastructure/kubernetes
infrastructure/monitoring
infrastructure/nginx
**/.terraform
*.tfstate*
